.card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: min(500px,100%);
    background-color: var(--bg-color-2);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 6px 9px 0px #7a7a7a66;
    
}
.card__mockups{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.card__laptop{
    width: 95%;
}
.card__mobile{
    position: absolute;
    bottom: 0;
    width: 20%;
}

@media(max-width:1000px){
    .card{
        flex-grow: 1;
        width: 100%;
    }
}